#title{padding:0 10%;
   
    background-color: #000;
    height: 700px;
    
}


.Beyond{
    text-align: center;
    margin: 30px;
    color: #fff;
}

.apple{
    width: 70%;
}
.d-grid .btn-link{
    text-decoration: none;
}

/* @media (max-width: 667px;)
{ #title{position: relative;}
    .apple {
        width: 350px;
        position: absolute;
        left: 5px;
    }
} */
